body {
  overflow-x: hidden; 
  background-color: $color_green2;
  
  // &.organize {
  //   background-color: $color_green3;
  // }

  // &.join {
  //   background-color: $color_green2;
  // }
  // transition: .5s background-color;

  // * {
  //   transition: .3s all;
  // }
}

main {
  margin: 0 auto 0;
  padding: 1em;

  @include media(">medium") {
    width: 90%;

  }
}

.contact-section {
  margin: 2em auto;
  
  .contact-container {
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .contact-section__title--title {
    padding-top: 2em;
    padding-left: 2em;
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
    flex: 1;
    color: $color-black;
  }

  .contact-section__title--title-style {
    margin: 10px 0px 10px 0px;
  }

  .contact-section__subtitle {
    padding-left: 2em;
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    flex: 1;
    color: black;
  }

  .contact-section__subtitle_style {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .contact-section__game-details {
    display: flex;
    padding: 2em
  }

  .contact-section__game-date {
    flex: 1;
  }

  .contact-section__game-date--style {
    color: #000;
    margin: 0;
    text-align: center;
    // margin: 0px 10px 0px 0px;
  }

  .contact-section__game-details-container {
    flex: 5;
    display: flex;
    align-items: center;
  }

  .contact-section__game-details-foto {
    width: 272px;
    height: 136px;
    border-radius: 8px;
    border: 1px solid $color_grey2;
  }

  .contact-section__members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;
  }

  .contact-section-container__members_avatars {
    flex: 1;
    margin-right: 0.8em;
    margin-bottom: 0.8em;
    min-width: 2.5em;
    max-width: 2.5em;
  }

  .contact-section__members_avatars {
    border-radius: 50%;
    max-width: 100%;
  }
}

.more-info-section {
  margin: 2em auto;
  display: flex;
  flex-direction: column; 

  .more-info-section__download-container {
    justify-content: center; 
    padding: 2em;
  }

  .more-info-section__download-text {
    margin: 0;
    text-align: center;
  }
  .call-to-action {
    display: flex;
    justify-content: center;
  

    @include media("<large") {
      display: flex;
      justify-content: center;
    }

  .call-to-action__image {
      width: 12em;
      padding: 1em;
    }
  }
}
