.header {
  .header-bg {
    display: none;
    position: absolute;
    background-color: rgba($color: #00353A, $alpha: 0.84);
    width: 200%;
    height: 14em;
    left: -10em;
    right: 0;
    top: -10em;
    z-index: -1;
    transform: rotate(-2deg);

    @include media(">medium") {
      display: block;
    }
  }

  .header-content {
    @include media(">medium") {
      display: flex;
      align-items: center;
    }

    .header-content__wrap {
      display: flex;


      .header-content__wrap--logo {
        max-width: 4em;
      }

      .header-content__wrap--title {
        margin: .1em 0 0 .5em;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}
