$color_dark_green: #00550b;
$color_green: green;
$color_red: #ff0000;
$color_green2: #306F45;
$color_green3: #005537;
$color_grey: #cacaca;
$color_grey2: rgba (0, 0, 0, 0.54);
$color_black: #000000;

$color-pri-green: #009F36;
$color-pri-darkgreen: #00353A;

$white: #fff;
$gold: #FFD700;



// Media Queries
// -------------------------------------------------

// Devices

$phablet:	    600px;
$tablet:	    960px;
$desktop:		1280px;
$widescreen:    1440px;

// $phone-port:    580px;
// $phone-land:	690px;
// $tablet-port:	768px;
// $tablet-land:	1024px;``
// $desktop:		1280px;
// $widescreen:    1600px;
